<div class="jumbotron">
 <center>
  <h1>Bienvenido a Callam Pizzas</h1>
  <img src="https://ep01.epimg.net/elcomidista/imagenes/2014/03/21/articulo/1395381600_139538_1395381600_008_sumario_normal.jpg" alt="launchpad's pizza">
  <br>
  <%= link_to "Observa nuestras Antipizzas", pizzas_path, class: "btn btn-default" %>
 </center> 
</div>